@import "global";
@import "vars";
@import "fonts";

//*************./IMPORTS*************//

.header {
    .menu__item {
        margin-right: 4em;
        &:nth-child(5) {
            margin: 0;
        }
    }
    &__inner {
        position: relative;
        background-color: $dark;
    }
    &__slider {
        overflow: hidden;
        //position: relative;
        .slick-dots {
            position: absolute;
            top: 45%;
            left: 93%;
            button {
                background-color: $gray;
                font-size: 0;
                width: 6px;
                height: 12px;
                border-radius: 50%;
            }
            .slick-active {
                color: $yellow;
            }
        }
        .header__slider-item {
            position: relative;
        }
        &::before {
            content: url(/img/header-bg.svg);
            top: 12%;
            left: 0;
            position: absolute;
        }
    }
    .btn--black {
        padding: 1.5em 2em;
        color: $first;
        background: rgba(255, 255, 255, 0.08);
    }
    .information {
        padding: 5em 0 3em 0;
        width: 100%;
        display: flex;
        align-items: center;
        &__inner {
            position: absolute;
        }
        &__text {
            max-width: 725px;
            display: flex;
            flex-direction: column;
            border-left: 1.5px solid $yellow;
            padding-left: 2em;
        }
        &__subtitle {
            @extend %rus-regular;
            margin-bottom: 16px;
            font-size: 65px;
            letter-spacing: 0.1em;
        }
        &__title {
            @extend %rb-bold;
            margin-bottom: 16px;
            color: $yellow;
            font-size: 0.8em;
        }
        &__descrpt {
            opacity: 0.3;
            font-size: 16px;
            margin: 5px 2px;
        }
        &__price {
            margin-top: 100px;
            max-width: 100%;
            display: flex;
            flex-direction: column;
            .information__price_title {
                @extend %rb-light;
                font-size: 12px;
            }
            .information__price_subtitle {
                @extend %rb-bold;
                font-size: 36px;
                margin-bottom: 1em;
            }
            .btn--white {
                position: relative;
                max-width: 13em;
                color: $dark;
                background-color: $first;
                &::after {
                    content: "";
                    top: 40%;
                    right: 12%;
                    position: absolute;
                    width: 0;
                    height: 0;
                    border: 0 solid transparent;
                    border-bottom-width: 7px;
                    border-top-width: 7px;
                    border-left: 8px solid black;
                }
            }
        }
        &__img {
            overflow: hidden;
            max-width: 1040px;
            height: 620px;
            margin: 0 0 0 auto;
            .header-1 {
                display: block;
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
    }

    .description {
        justify-content: space-between;
        align-items: center;
        display: flex;
        flex-direction: row;
        &__section_1 {
            width: 70%;
            display: flex;
            justify-content: space-between;
            padding-right: 5em;
        }
        &__column {
            min-width: 45%;
            flex-grow: 1;
            .column__title {
                font-weight: 200;
                margin-bottom: 24px;
            }
            .column__subtitle {
                opacity: 0.3;
            }
        }
        &__slider {
            position: relative;
            min-width: 0;
            width: 530px;
            height: 330px;
            overflow: hidden;
            .slider__img {
                display: block;
                object-fit: cover;
                height: auto;
                margin: 0 auto;
            }
            .slider__img_box {
                overflow: hidden;
                text-align: center;
                width: 100%;
            }
            .slider-arw__header {
                outline: none;
                position: absolute;
                top: 84%;
                width: 55px;
                height: 55px;
                border: none;
                background-color: $first;
            }
            .slider-arw__header_left {
                left: 80%;
                z-index: 1;
            }
            .slider-arw__header_right {
                left: 90%;
            }
            svg {
                padding: 0;
                margin: auto;
                width: 1.8em;
                height: 1.8em;
            }
            .slick-disabled {
                background-color: $dark;
            }
        }
    }
}

.selection {
    position: absolute;
    // max-width: 100%;
    top: 85%;
    left: 10%;
    width: 100%;
    background-color: $first;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: -2px 5px 21px -10px #272727;
    .selection__wrapper {
        padding: 1em 3em;
        width: 100%;
        display: flex;
        justify-content: space-between;
    }
    .selection__column {
        position: relative;
        display: flex;
        flex-direction: column;
        align-content: center;
        width: 25%;
        background-color: $first;
        color: $dark;
        &::after {
            content: url(/img/selection-arrw.svg);
            top: 63%;
            left: 42%;
            position: absolute;
        }
    }
    .selection__title {
        margin-bottom: 1em;
    }
    .selection__btn {
        padding: 1.5em 2em;
    }
    .btn--yellow {
        max-width: 245px;
        padding: 1.8em;
        font-size: 20px;
        text-align: center;
        &::after {
            display: none;
        }
    }
}

//*************./HEADER*************// /*сделать общий контейнер и прижать к левому краю*/

.about {
    padding: 15em 0 10em 0;
    &__img {
        background-image: url(../img/about-v1.2.jpg);
        // width: 825px;
        // height: 550px;
    }
    .btn--yellow {
        margin: auto 0 0 0;
    }
    .text__subtitle {
        text-align: start;
    }
}

.about__img_history {
    background-image: url(../img/history-1.jpg);
}

.about__img_team {
    background-image: url(../img/about-v1.3.jpg);
}

.about__section_1 {
    width: 875px;
}

.about__section_2 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 5em;
}

.about__section_3 {
    width: 60%;
}

.about__section_5 {
    width: 100%;
    margin-top: 15em;
}

.about__contacts {
    display: flex;
    justify-content: space-between;
    max-width: 590px;
}

//*************./ABOUT*************//

.vendor {
    text-align: center;
    padding: 5em 0;
    display: flex;
    flex-direction: column;
    &__title {
        @extend %rus-regular;
        margin-bottom: 2em;
        font-size: 50px;
    }
    &__menu {
        .menu__link {
            @extend %rb-black;
            font-size: 28px;
            color: #888888;
        }
    }
    .slider-item {
        display: flex !important;
        flex-direction: row !important;
    }
}

//*************./VENDOR*************//
.products {
    margin: 10em 0;
    &__inner {
        display: flex;
        flex-direction: column;
    }
    &__text {
        position: relative;
        margin: 0 auto;
        &::before {
            content: url(/img/products-bg.svg);
            top: -17%;
            left: -15%;
            position: absolute;
        }
    }
    &__subtitle {
        margin-top: 1em;
    }
    &__cards {
        padding: 5em 0;
    }
    &__btn {
        margin: auto;
    }
    &__sort_mobile {
        display: none;
    }
    &__pagination {
        background-color: $first;
        .pagination__container {
            margin: 0 auto;
            max-width: 402px;
            width: 100%;
        }
        .pagination__inner {
            margin-top: 5em;
            display: flex;
            width: 100%;
            justify-content: space-between;
            align-items: center;
        }
        .pagntn__btn {
            cursor: pointer;
            @extend %monts-bold;
            font-size: 20px;
            border-radius: 5px;
            padding: 1em 2em;
        }
        .pagntn__arrw {
            padding: 1.5em 2.2em;
            border: 1.5px solid $dark;
            position: relative;
            &::before {
                content: url(/img/pagination-arrw.svg);
                color: $dark;
                position: absolute;
                top: 30%;
                left: 30%;
            }
        }
    }
}
.sort {
    display: flex;
    justify-content: space-between;
    align-items: center;
    // width: 100%;
}

.sort__option {
    display: flex;
    position: relative;
    align-items: center;
    padding: 10px 50px 10px 10px;
    &::after {
        content: url(/img/products-arrw.svg);
        top: 38%;
        left: 87%;
        position: absolute;
    }
}

.sort__text {
    margin-right: 4em;
    @extend %rb-bold;
    font-size: 18px;
}

.option_text {
    @extend %rb-regular;
    font-size: 18px;
}

.relult_text {
    @extend %rus-regular;
    font-size: 30px;
}

//*************./PRODUCTS*************//

.overview {
    padding: 100px 0;
    .text {
        max-width: auto;
        margin-bottom: 60px;
        &__subtitle {
            max-width: 720px;
            margin: 0 auto;
            margin-bottom: 32px;
        }
    }
    .video {
        position: relative;
        padding: 0 0 56.25% 0;
        height: 0;
        overflow: hidden;
        max-width: 1340px;
        height: 530px;
        background-color: $gray;
        &__iframe {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            outline: 1px solid $dark;
            border: none;
        }
    }
}

//*************./OVERVIEW*************//

.advantages {
    position: relative;
    margin: 10em 0 5em 0;
    .text {
        position: relative;
        max-width: auto;
        margin-bottom: 60px;
        &__title {
            text-transform: uppercase;
            color: $yellow;
        }
        &__descrpt {
            margin: 0 auto;
            margin-bottom: 32px;
        }
        &::before {
            content: url(/img/skill-bg.svg);
            position: absolute;
            top: -6%;
            left: 15%;
        }
    }
}

//*************./ADVANTAGES*************//

.testimonials {
    margin-top: 5em;
    padding: 7em 0 7em 0;
}

//*************./TESTIMONIALS*************//

.footer__column {
    .menu__item {
        @extend %rb-thin;
        opacity: 0.5;
    }
    .menu__link {
        letter-spacing: 1px;
        font-size: 18px;
        line-height: 44px;
        color: $first;
        &:hover {
            color: $yellow;
            transition: 0.05s linear;
        }
    }
    .menu__item_title {
        @extend %rb-bold;
        text-transform: uppercase;
        margin-bottom: 40px;
    }
    .menu__item_title {
        .menu__link {
            line-height: 0px;
        }
    }
}

//*************./FOOTER*************//

.gallary {
    display: flex;
    flex-direction: column;
    margin-top: 5em;
    .gallary__inner {
        display: flex;
        flex-direction: column;
        width: 530px;
        margin-top: 2em;
    }
    .gallary__title {
        font-size: 28px;
        @extend %rus-regular;
    }
    .gallary__inner_top {
        display: flex;
        justify-content: space-between;
    }
    .gallary__inner_btm {
        display: flex;
        justify-content: space-between;
        margin-top: 2em;
    }
    .gallary__item {
        width: 245px;
        height: 245px;
        background-color: $gray;
    }
    .gallary__img_1 {
        background-image: url("/img/headerSlider-3.jpg");
    }
    .gallary__img_2 {
        background-image: url("/img/headerSlider-6.jpg");
    }
    .gallary__img_3 {
        background-image: url("/img/headerSlider-5.jpg");
    }
    .gallary__img_4 {
        background-image: url("/img/headerSlider-4.jpg");
    }
}

.rating {
    padding: 8em 4em 4em 4em;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
    width: 530px;
    height: 410px;
    background-color: #464646;
    color: $first;
    position: relative;
    &::before {
        content: url(/img/rate.svg);
        top: 90%;
        bottom: 0;
        right: 0;
        left: 12.5%;
        position: absolute;
    }
    &__score {
        font-size: 144px;
        @extend %rus-regular;
    }
    &__score_second {
        font-size: 24px;
    }
    &__title {
        font-size: 28px;
        @extend %rb-medium;
    }
}

@import "media";
