<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/style.min.css">
    <title>FIFTH PAFE</title>
</head>

<body>
    <header class="header" id="header">
        <div class="container_big">
            <div class="bar" id="bar">
                <a href="../index.html">
                    <h1 class="logo"><span style="color: #FFD600">KAR</span>BOX</h1>
                </a>
                <nav class="menu header__menu" id="header__menu">
                    <ul class="menu__list">
                        <li class="menu__item active"><a href="../index.html" class="menu__link">Home</a>
                        </li>
                        <li class="menu__item"><a href="../templates/first.html" class="menu__link">About</a>
                        </li>
                        <li class="menu__item"><a href="../templates/fourth.html" class="menu__link">Services</a></li>
                        <li class="menu__item"><a href="/templates/second.html" class="menu__link">Collections</a></li>
                        <li class="menu__item"><a href="#" class="menu__link">Blog</a></li>
                    </ul>
                </nav>
                <button class="btn btn--black" data-scroll="#footer">Contact us</button>
            </div>
            <div class="bar-mobile bar-mobile_home">
                <a href="#">
                    <h1 class="logo"><span style="color: #FFD600">KAR</span>BOX</h1>
                </a>
                <nav class="menu header__menu" id="header__menu">
                    <ul class="menu__list">
                        <li class="menu__item active"><a href="#" class="menu__link" data-scroll="#header">Home</a>
                        </li>
                    </ul>
                </nav>
                <button class="btn btn--black" data-scroll="#footer">Contact us</button>
            </div>
        </div>
    </header>
    <!-- /.HEADER -->
    <main class="contacts bg-dark">
        <div class="container_description">
            <div class="contacts__header">
                <div class="text text_fourth">
                    <h3 class="text__subtitle">Contact Us</h3>
                    <p class="text__descrpt">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                        tempor
                        incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation
                        ullamco laboris nisi ut aliquip ex ea.</p>
                </div>
                <div class="contacts__background">
                    <img class="contacts__img " src="../img/mapBackground.svg" alt="map">
                </div>
                <div class="contacts__form">
                    <div class="form">
                        <div class="form__section_1">
                            <h2 class="form__text form__name_title">Full Name</h2>
                            <h3 class="form__text form__email_title">Email</h3>
                            <input class="form__name" name="name" placeholder="Petrov Andrey Pavlovich" type="text"
                                pattern="[a-zA-z]+\s[a-zA-z]+|[a-zA-z]+\s[a-zA-z]+\s[a-zA-Z]+" required>
                            <input class="form__email" name="email" placeholder="@mail.ru" type="email"
                                pattern="[a-zA-Z0-9.!#$%&amp;’*+/=?^_`{|}~-]+@[a-zA-Z0-9-]+(?:\.[a-zA-Z0-9-]+)+"
                                required>
                        </div>
                        <!-- /.form__section_1 -->
                        <div class="form__section_2">
                            <h2 class="form__text form__subject_title">Subject</h2>
                            <input class="form__subject" name="text" placeholder="Some topic" type="text"
                                pattern="[a-zA-Z]+" required>
                        </div>
                        <!-- /.form__section_2 -->
                        <div class="form__section_3">
                            <h2 class="form__text form__message_title">Message</h2>
                            <input class="form__message" name="text" placeholder="Write your message..." type="text">
                        </div>
                        <!-- /.form__section_3 -->
                        <div class="form__section_4">
                            <div class="checkBox">
                                <input id="ch1" type="checkBox" class="checkBox__input">
                                <label for="ch1" class="checkBox__label">Accept <span style="color: #ffd600">terms &
                                        conditions</span></label>
                            </div>
                            <div class="form__btn">
                                <button class="btn btn--yellow">SEND MESSAGE</button>
                            </div>
                        </div>
                        <!-- /.form__section_4 -->
                    </div>
                </div>
            </div>
        </div>
        <div class="contacts__footer bg-light">
            <div class="container_description">
                <div class="location">
                    <div class="location__text">
                        <h2 class="location__title">Our Dealer Locations</h2>
                        <p class="location__subtitle">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                            eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis
                            nostrud exercitation ullamco laboris nisi ut aliquip ex ea.</p>
                    </div>
                    <div class="location__wrapper">
                        <div class="location__item">
                            <h2 class="location__city">London,</h2>
                            <h3 class="location__country">United Kingdom</h3>
                            <p class="location__item-subtitle">59 Victoria Street <br>
                                London <br>
                                EC43 5BI </p>
                            <div class="response-block__phone">
                                <img src="../img/phoneicon.svg" alt="">
                                <a href="tel:224000221133">224 000 22 11 33</a>
                            </div>
                        </div>
                        <div class="location__item">
                            <h2 class="location__city">Sydney,</h2>
                            <h3 class="location__country">Australia</h3>
                            <p class="location__item-subtitle">3 Doris St, <br>
                                North Sydney <br>
                                NSW 2060 </p>
                            <div class="response-block__phone">
                                <img src="../img/phoneicon.svg" alt="">
                                <a href="tel:224000221133">224 000 22 11 33</a>
                            </div>
                        </div>
                        <div class="location__item">
                            <h2 class="location__city">Dhaka,</h2>
                            <h3 class="location__country">BANGLADESH</h3>
                            <p class="location__item-subtitle">Phoenix Tower, <br>
                                2nd & 3rd Floor 407, <br>
                                Tejgoan Industrial Area <br>
                                Dhaka 1208</p>
                            <div class="response-block__phone">
                                <img src="../img/phoneicon.svg" alt="">
                                <a href="tel:224000221133">224 000 22 11 33</a>
                            </div>
                        </div>
                        <div class="location__item">
                            <h2 class="location__city">Jakarta,</h2>
                            <h3 class="location__country">INDONESIA</h3>
                            <p class="location__item-subtitle">Jl. Jend. Sudirman <br>
                                No.Kav 47-48, <br>
                                Karet Semanggi, <br>
                                Jakarta Selatan </p>
                            <div class="response-block__phone">
                                <img src="../img/phoneicon.svg" alt="">
                                <a href="tel:224000221133">224 000 22 11 33</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <!-- /MAIN -->
    <footer class="footer bg-dark" id="footer">
        <div class="container">
            <div class="footer__inner">
                <div class="footer__column footer__column_1">

                    <div class="footer__text">
                        <a href="#" data-scroll="#header">
                            <h1 class="logo"><span style="color: #FFD600">KAR</span>BOX</h1>
                        </a>
                        <p class="footer__subtitle">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                            eiusmod
                            tempor incididunt ut labore et dolore magna aliqua.</p>
                    </div>

                    <div class="social">
                        <h2 class="social__text">Follow Us</h2>
                        <div class="social__wrapper">
                            <div class="social__img">
                                <img class="social__img_icon" src="../img/social-1.svg" alt="">
                            </div>
                            <div class="social__img">
                                <img class="social__img_icon" src="../img/social-2.svg" alt="">
                            </div>
                            <div class="social__img">
                                <img class="social__img_icon" src="../img/social-3.svg" alt="">
                            </div>
                            <div class="social__img">
                                <img class="social__img_icon" src="../img/social-4.svg" alt="">
                            </div>
                            <div class="social__img">
                                <img class="social__img_icon" src="../img/social-5.svg" alt="">
                            </div>
                        </div>
                    </div>
                </div>

                <div class="footer__column footer__column_2">
                    <ul class="menu__list">
                        <li class="menu__item_title"><a href="" class="menu__link">Quick Links</a></li>
                        <li class="menu__item"><a href="" class="menu__link" data-scroll="#header">Home</a></li>
                        <li class="menu__item"><a href="" class="menu__link" data-scroll="#about">About</a></li>
                        <li class="menu__item"><a href="" class="menu__link" data-scroll="#services">Services</a></li>
                        <li class="menu__item"><a href="" class="menu__link" data-scroll="#products">Collections</a>
                        </li>
                        <li class="menu__item"><a href="" class="menu__link" data-scroll="#testimonials">Blog</a></li>
                    </ul>
                </div>

                <div class="footer__column footer__column_3">
                    <ul class="menu__list">
                        <li class="menu__item_title"><a href="" class="menu__link">Support</a></li>
                        <li class="menu__item"><a href="" class="menu__link">Affiliates</a></li>
                        <li class="menu__item"><a href="" class="menu__link">Sitemap</a></li>
                        <li class="menu__item"><a href="" class="menu__link">Cancelation Policy</a></li>
                        <li class="menu__item"><a href="" class="menu__link">Privacy Policy</a></li>
                        <li class="menu__item"><a href="" class="menu__link">Legal Disclaimer</a></li>
                    </ul>
                </div>
                <div class="footer__column footer__column_4">
                    <div class="footer-input">
                        <div class="footer-input__text">
                            <h2 class="footer-input__title">Subscribe</h2>
                            <p class="footer-input__subtitle">Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                                sed do
                                eiusmod tempor incididunt ut</p>
                        </div>
                        <div class="footer-input__buttons">
                            <input class="" name="email" style="text-transform: lowercase"
                                placeholder="Enter your email here" type="email"
                                pattern="[a-zA-Z0-9.!#$%&amp;’*+/=?^_`{|}~-]+@[a-zA-Z0-9-]+(?:\.[a-zA-Z0-9-]+)+"
                                required>
                            <button class="btn btn--input">Send</button>
                        </div>
                    </div>
                </div>
                <select class="footer__column_media">
                    <option>Support</option>
                    <option>Affiliates</option>
                    <option>Sitemap</option>
                    <option>Cancelation Policy</option>
                    <option>Privacy Policy</option>
                    <option>Legal Disclaimer</option>
                </select>
            </div>
        </div>

        <div class="copyrite">
            <h2 class="copyrite__text">KARDILER - © 2020 All Rights Reserved</h2>
        </div>

    </footer>
    <!-- /.FOOTER -->


    <!-- SCRIPTS -->
    <script src="../js/main.min.js"></script>
</body>

</html>