<!-- <!DOCTYPE html> -->
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/style.min.css">
    <title>FOURTH PAGE</title>
</head>

<body>
    <header class="header" id="header">
        <div class="container_big">
            <div class="bar" id="bar">
                <a href="../index.html">
                    <h1 class="logo"><span style="color: #FFD600">KAR</span>BOX</h1>
                </a>
                <nav class="menu header__menu" id="header__menu">
                    <ul class="menu__list">
                        <li class="menu__item"><a href="../index.html" class="menu__link" >Home</a></li>
                        <li class="menu__item"><a href="#" class="menu__link" data-scroll="#about">About</a>
                        </li>
                        <li class="menu__item active"><a href="#" class="menu__link" data-scroll="#services">Services</a>
                        </li>
                        <li class="menu__item"><a href="/templates/second.html" class="menu__link" >Collections</a></li>
                        <li class="menu__item"><a href="#" class="menu__link" data-scroll="#testimonials">Blog</a></li>
                    </ul>
                </nav>
                <button class="btn btn--black" data-scroll="#footer" href="">Contact us</button>
            </div>

            <div class="bar-mobile bar-mobile_home">
                <a href="../index.html">
                    <h1 class="logo"><span style="color: #FFD600">KAR</span>BOX</h1>
                </a>
                <nav class="menu header__menu" id="header__menu">
                    <ul class="menu__list">
                        <li class="menu__item active" data-scroll="#header"><a href="#"
                                class="menu__link">Services</a>
                        </li>
                    </ul>
                </nav>
                <button class="btn btn--black" data-scroll="#footer">Contact us</button>
            </div>

            <div class="text text_fourth">
                <h3 class="text__subtitle">SERVICES</h3>
                <p class="text__descrpt">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed
                    do eiusmod
                    tempor incididunt
                    ut labore et dolore magna aliqua.</p>
            </div>
        </div>
    </header>
    <!-- /.HEADER -->
    <main>
        <section class="services" id="services">
            <div class="services__section_2">

                <div class="container_description">
                    <div class="skills">
                        <div class="skills__item">
                            <div class="skills__img">
                                <img class="skills__img-icon" src="../img/skill-1_white.svg" alt="">
                            </div>
                            <h2 class="skills__title">The best price that you really expect</h2>
                            <p class="skills__subtitle">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                                eiusmod
                                tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis
                                nostrud
                                exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                        </div>
                        <div class="skills__item">
                            <div class="skills__img">
                                <img class="skills__img-icon" src="../img/skill-2_white.svg" alt="">
                            </div>
                            <h2 class="skills__title">Support ready 24/7 to serve you</h2>
                            <p class="skills__subtitle">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                                eiusmod
                                tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis
                                nostrud
                                exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                        </div>
                        <div class="skills__item">
                            <div class="skills__img">
                                <img class="skills__img-icon" src="../img/skill-3_white.svg" alt="">
                            </div>
                            <h2 class="skills__title">Top brand in the world</h2>
                            <p class="skills__subtitle">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                                eiusmod
                                tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis
                                nostrud
                                exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /.services__section_2 -->

            <div class="services__section_3">
                <div class="overview bg-lightgray">
                    <div class="container_small">
                        <div class="text">
                            <h3 class="text__subtitle">Get your favourite car with us</h3>
                            <p class="descrpt_full">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                                eiusmod
                                tempor
                                incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
                                exercitation
                                ullamco laboris nisi ut</p>
                        </div>
                        <div class="video">
                            <iframe class="video__iframe" width="560" height="315"
                                src="https://www.youtube.com/embed/lZQIlHkDMD0"
                                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                                allowfullscreen></iframe>
                        </div>
                    </div>
                </div>
                <!--./OVERVIEW-->
            </div>
            <!-- /.services__section_3 -->
            <div class="services__section_4 container_description">
                <div class="about" id="about">
                    <div class="img about__img_team"></div>
                    <div class="about__text about__text_fourt">
                        <h2 class="about__title">ABOUT US</h2>
                        <h3 class="about__subtitle">Kardiler is the best place to get your dream car</h3>
                        <p class="about__descrpt">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                            eiusmod
                            tempor
                            incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
                            exercitation
                            ullamco laboris nisi ut aliquip ex ea commodo Lorem ipsum dolor sit amet, consectetur
                            adipiscing
                            elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
                            veniam,
                            quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo</p>
                    </div>
                </div>
            </div>
            <!-- /.services__section_4 -->
            <div class="services__section_5">

                <section class="testimonials" id="testimonials">

                    <div class="container_small">
                        <div class="testimonials__header">

                            <div class="text">
                                <h2 class="text__title">Testimonials</h2>
                                <h3 class="text__subtitle">What they say</h3>
                            </div>

                            <div class="testmnls-slider">
                                <div class="testmnls-slider__item">
                                    <p class="testmnls-slider__text">
                                        "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                                        incididunt
                                        ut
                                        labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
                                        exercitation
                                        ullamco
                                        laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in
                                        reprehenderit
                                        in
                                        voluptate velit esse cillum dolore eu fugiat nulla pariatur”
                                    </p>
                                    <div class="testmnls-slider__img slider__img_1">
                                    </div>
                                    <div class="testmnls-slider__decoration">
                                        <img class="testmnls-slider__icon" src="../img/testimonials-slider.svg" alt="">
                                    </div>
                                </div>

                                <div class="testmnls-slider__item">
                                    <p class="testmnls-slider__text">
                                        "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                                        incididunt
                                        ut
                                        labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
                                        exercitation
                                        ullamco
                                        laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in
                                        reprehenderit
                                        in
                                        voluptate velit esse cillum dolore eu fugiat nulla pariatur”
                                    </p>
                                    <div class="testmnls-slider__img slider__img_2">
                                    </div>
                                    <div class="testmnls-slider__decoration">
                                        <img class="testmnls-slider__icon " src="../img/testimonials-slider.svg" alt="">
                                    </div>
                                </div>

                                <div class="testmnls-slider__item">
                                    <p class="testmnls-slider__text">
                                        "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                                        incididunt
                                        ut
                                        labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
                                        exercitation
                                        ullamco
                                        laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in
                                        reprehenderit
                                        in
                                        voluptate velit esse cillum dolore eu fugiat nulla pariatur”
                                    </p>
                                    <div class="testmnls-slider__img slider__img_3">
                                    </div>
                                    <div class="testmnls-slider__decoration">
                                        <img class="testmnls-slider__icon" src="../img/testimonials-slider.svg" alt="">
                                    </div>
                                </div>
                            </div>

                            <div class="badges">
                                <div class="badges__header">
                                    <div class="badges__circle badges__circle_left"></div>
                                    <div class="badges__circle badges__circle_mid"></div>
                                    <div class="badges__circle badges__circle_right"></div>
                                </div>
                                <div class="badges__footer">
                                    <h2 class="badges__title">Rajuu Sigh</h2>
                                    <p class="badges__subtitle">Businessman</p>
                                </div>
                            </div>

                        </div>
                    </div>

                    <div class="testimonials__footer bg-dark">
                        <div class="response-block">
                            <div class="response-block__inner">
                                <div class="response-block__text">
                                    <h2 class="response-block__title">Have a question?</h2>
                                    <p class="response-block__subtitle">Lorem ipsum dolor sit amet, consectetur
                                        adipiscing
                                        elit,
                                        sed do eiusmod tempor incididunt ut
                                        labore et dolore magna aliqua.</p>
                                </div>
                                <div class="response-block__contacts">
                                    <button class="btn response--btn">Contacs Us</button>
                                    <div class="response-block__phone">
                                        <img src="../img/phoneicon.svg" alt="">
                                        <a href="tel:224000221133">224 000 22 11 33</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
            <!-- /.services__section_5 -->
        </section>
        <!--./SERVICES-->
    </main>
    <!-- /.MAIN -->

    <footer class="footer bg-dark" id="footer">
        <div class="container">
            <div class="footer__inner">
                <div class="footer__column footer__column_1">

                    <div class="footer__text">
                        <a href="#" data-scroll="#header">
                            <h1 class="logo"><span style="color: #FFD600">KAR</span>BOX</h1>
                        </a>
                        <p class="footer__subtitle">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                            eiusmod
                            tempor incididunt ut labore et dolore magna aliqua.</p>
                    </div>

                    <div class="social">
                        <h2 class="social__text">Follow Us</h2>
                        <div class="social__wrapper">
                            <div class="social__img">
                                <img class="social__img_icon" src="../img/social-1.svg" alt="">
                            </div>
                            <div class="social__img">
                                <img class="social__img_icon" src="../img/social-2.svg" alt="">
                            </div>
                            <div class="social__img">
                                <img class="social__img_icon" src="../img/social-3.svg" alt="">
                            </div>
                            <div class="social__img">
                                <img class="social__img_icon" src="../img/social-4.svg" alt="">
                            </div>
                            <div class="social__img">
                                <img class="social__img_icon" src="../img/social-5.svg" alt="">
                            </div>
                        </div>
                    </div>
                </div>

                <div class="footer__column footer__column_2">
                    <ul class="menu__list">
                        <li class="menu__item_title"><a href="" class="menu__link">Quick Links</a></li>
                        <li class="menu__item"><a href="" class="menu__link" data-scroll="#header">Home</a></li>
                        <li class="menu__item"><a href="" class="menu__link" data-scroll="#about">About</a></li>
                        <li class="menu__item"><a href="" class="menu__link" data-scroll="#services">Services</a></li>
                        <li class="menu__item"><a href="" class="menu__link" data-scroll="#products">Collections</a>
                        </li>
                        <li class="menu__item"><a href="" class="menu__link" data-scroll="#testimonials">Blog</a></li>
                    </ul>
                </div>

                <div class="footer__column footer__column_3">
                    <ul class="menu__list">
                        <li class="menu__item_title"><a href="" class="menu__link">Support</a></li>
                        <li class="menu__item"><a href="" class="menu__link">Affiliates</a></li>
                        <li class="menu__item"><a href="" class="menu__link">Sitemap</a></li>
                        <li class="menu__item"><a href="" class="menu__link">Cancelation Policy</a></li>
                        <li class="menu__item"><a href="" class="menu__link">Privacy Policy</a></li>
                        <li class="menu__item"><a href="" class="menu__link">Legal Disclaimer</a></li>
                    </ul>
                </div>
                <div class="footer__column footer__column_4">
                    <div class="footer-input">
                        <div class="footer-input__text">
                            <h2 class="footer-input__title">Subscribe</h2>
                            <p class="footer-input__subtitle">Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                                sed do
                                eiusmod tempor incididunt ut</p>
                        </div>
                        <div class="footer-input__buttons">
                            <input class="" name="email" style="text-transform: lowercase"
                                placeholder="Enter your email here" type="email"
                                pattern="[a-zA-Z0-9.!#$%&amp;’*+/=?^_`{|}~-]+@[a-zA-Z0-9-]+(?:\.[a-zA-Z0-9-]+)+"
                                required>
                            <button class="btn btn--input">Send</button>
                        </div>
                    </div>
                </div>
                <select class="footer__column_media">
                    <option>Support</option>
                    <option>Affiliates</option>
                    <option>Sitemap</option>
                    <option>Cancelation Policy</option>
                    <option>Privacy Policy</option>
                    <option>Legal Disclaimer</option>
                </select>
            </div>
        </div>

        <div class="copyrite">
            <h2 class="copyrite__text">KARDILER - © 2020 All Rights Reserved</h2>
        </div>
    </footer>
    <!-- /.FOOTER -->


    <!-- SCRIPTS -->
    <script src="../js/main.min.js"></script>
</body>

</html>