<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/style.min.css">
    <title>SECOND PAGE</title>
</head>

<body>
    <header class="header bg-dark" id="header">
        <div class="container_big">
            <div class="bar" id="bar">
                <a href="../index.html">
                    <h1 class="logo"><span style="color: #FFD600">KAR</span>BOX</h1>
                </a>
                <nav class="menu header__menu">
                    <ul class="menu__list">
                        <li class="menu__item"><a href="../index.html" class="menu__link">Home</a></li>
                        <li class="menu__item"><a href="/templates/first.html" class="menu__link">About</a>
                        </li>
                        <li class="menu__item"><a href="/templates/fourth.html" class="menu__link">Services</a></li>
                        <li class="menu__item active"><a href="#"
                                class="menu__link" data-scroll="#header">Collections</a></li>
                        <li class="menu__item"><a href="#" class="menu__link">Blog</a></li>
                    </ul>
                </nav>
                <button class="btn btn--black" data-scroll="#footer">Contact us</button>
            </div>

            <div class="bar-mobile bar-mobile_home">
                <a href="../index.html">
                    <h1 class="logo"><span style="color: #FFD600">KAR</span>BOX</h1>
                </a>
                <nav class="menu header__menu">
                    <ul class="menu__list">
                        <li class="menu__item active"><a href="#" class="menu__link"
                                data-scroll="#header">Collections</a>
                        </li>
                    </ul>
                </nav>
                <button class="btn btn--black" data-scroll="#footer">Contact us</button>
            </div>
        </div>

        <div class="container_description">
            <div class="header__inner">
                <div class="text text_second">
                    <h2 class="text__title text__title_yellow">COLLECTIONS</h2>
                    <h3 class="text__subtitle">Find your dream car here</h3>
                    <p class="text__descrpt">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                        tempor incididunt
                        ut labore et dolore magna aliqua.</p>
                </div>
                <div class="selection container_small">
                    <div class="selection__wrapper">
                        <div class="selection__column">
                            <h2 class="selection__title feature">Brand</h2>
                            <p class="selection__valueBrad value">PORCE</p>
                        </div>
                        <div class="selection__column">
                            <h2 class="selection__title feature">Сlass</h2>
                            <p class="selection__valueClass value">Choose</p>
                        </div>
                        <div class="selection__column">
                            <h2 class="selection__title feature">Model</h2>
                            <p class="selection__valueModel value">Choose</p>
                        </div>
                        <div class="selection__column">
                            <h2 class="selection__title feature">Year</h2>
                            <p class="selection__valueYear value">Choose</p>
                        </div>
                    </div>
                    <div class="selection__btn">
                        <button class="btn btn--yellow animate">FIND</button>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!-- /.HEADER -->
    <main>
        <section class="products products_second">
            <div class="products__inner container">

                <div class="products__sort">
                    <div class="sort">
                        <h2 class="relult_text">Showing 9 from 98 result</h2>
                        <div class="sort__option">
                            <h3 class="sort__text">Sort by</h3>
                            <p class="option_text">Newest</p>
                        </div>
                    </div>
                </div>
                <div class="products__sort_mobile">
                    <div class="sort">
                        <div class="sort__relult">
                            <h2 class="relult_text">Showing 9 from 98 result</h2>
                        </div>
                        <div class="sort__option">
                            <h3 class="sort__text">Sort by</h3>
                            <p class="option_text">Newest</p>
                        </div>
                    </div>
                </div>

                <div class="card__slider">

                    <div class="card__slider-item">
                        <div class="card__box indent_btm">
                            <div class="card__header bg-gray">
                                <h3 class="rate">4.0</h3>
                            </div>
                            <div class="card__price">
                                <h2 class="price">$490.299</h2>
                            </div>
                            <div class="card__footer bg-lightgray">
                                <h2 class="carModel">GTX-1122 BOOST </h2>
                                <h3 class="feature transmition">Transmition</h3>
                                <p class="value ValueTransmition">Automatic</p>
                                <h3 class="feature passenger">Passenger</h3>
                                <p class="value ValuePassenger">2 Person</p>
                                <h3 class="feature speed">Top Speed</h3>
                                <p class="value ValueSpeed">412Km</p>
                                <h3 class="feature hp">HP</h3>
                                <p class="value ValueHp">560</p>
                                <h3 class="feature acceleration">0-1000Km/h</h3>
                                <p class="value ValueAcceleration">4.5s</p>
                            </div>
                        </div>

                        <div class="card__box indent_btm">
                            <div class="card__header bg-gray">
                                <h3 class="rate">4.0</h3>
                            </div>
                            <div class="card__price">
                                <h2 class="price">$460.999</h2>
                            </div>
                            <div class="card__footer bg-lightgray">
                                <h2 class="carModel">GREAT MUSCLE</h2>
                                <h3 class="feature transmition">Transmition</h3>
                                <p class="value ValueTransmition">Automatic</p>
                                <h3 class="feature passenger">Passenger</h3>
                                <p class="value ValuePassenger">2 Person</p>
                                <h3 class="feature speed">Top Speed</h3>
                                <p class="value ValueSpeed">412Km</p>
                                <h3 class="feature hp">HP</h3>
                                <p class="value ValueHp">560</p>
                                <h3 class="feature acceleration">0-1000Km/h</h3>
                                <p class="value ValueAcceleration">4.5s</p>
                            </div>
                        </div>

                        <div class="card__box">
                            <div class="card__header bg-gray">
                                <h3 class="rate">4.0</h3>
                            </div>
                            <div class="card__price">
                                <h2 class="price">$460.299</h2>
                            </div>
                            <div class="card__footer bg-lightgray">
                                <h2 class="carModel">SPORT GT-X</h2>
                                <h3 class="feature transmition">Transmition</h3>
                                <p class="value ValueTransmition">Automatic</p>
                                <h3 class="feature passenger">Passenger</h3>
                                <p class="value ValuePassenger">2 Person</p>
                                <h3 class="feature speed">Top Speed</h3>
                                <p class="value ValueSpeed">412Km</p>
                                <h3 class="feature hp">HP</h3>
                                <p class="value ValueHp">560</p>
                                <h3 class="feature acceleration">0-1000Km/h</h3>
                                <p class="value ValueAcceleration">4.5s</p>
                            </div>
                        </div>
                    </div>
                    <!-- /.card__slider-item -->
                    <div class="card__slider-item">

                        <div class="card__box indent_btm">
                            <div class="card__header bg-gray">
                                <h3 class="rate">4.0</h3>
                            </div>
                            <div class="card__price">
                                <h2 class="price">$490.299</h2>
                            </div>
                            <div class="card__footer bg-lightgray">
                                <h2 class="carModel">GTX-1122 BOOST </h2>
                                <h3 class="feature transmition">Transmition</h3>
                                <p class="value ValueTransmition">Automatic</p>
                                <h3 class="feature passenger">Passenger</h3>
                                <p class="value ValuePassenger">2 Person</p>
                                <h3 class="feature speed">Top Speed</h3>
                                <p class="value ValueSpeed">412Km</p>
                                <h3 class="feature hp">HP</h3>
                                <p class="value ValueHp">560</p>
                                <h3 class="feature acceleration">0-1000Km/h</h3>
                                <p class="value ValueAcceleration">4.5s</p>
                            </div>
                        </div>

                        <div class="card__box indent_btm">
                            <div class="card__header bg-gray">
                                <h3 class="rate">4.0</h3>
                            </div>
                            <div class="card__price">
                                <h2 class="price">$460.999</h2>
                            </div>
                            <div class="card__footer bg-lightgray">
                                <h2 class="carModel">GREAT MUSCLE</h2>
                                <h3 class="feature transmition">Transmition</h3>
                                <p class="value ValueTransmition">Automatic</p>
                                <h3 class="feature passenger">Passenger</h3>
                                <p class="value ValuePassenger">2 Person</p>
                                <h3 class="feature speed">Top Speed</h3>
                                <p class="value ValueSpeed">412Km</p>
                                <h3 class="feature hp">HP</h3>
                                <p class="value ValueHp">560</p>
                                <h3 class="feature acceleration">0-1000Km/h</h3>
                                <p class="value ValueAcceleration">4.5s</p>
                            </div>
                        </div>

                        <div class="card__box">
                            <div class="card__header bg-gray">
                                <h3 class="rate">4.0</h3>
                            </div>
                            <div class="card__price">
                                <h2 class="price">$460.299</h2>
                            </div>
                            <div class="card__footer bg-lightgray">
                                <h2 class="carModel">SPORT GT-X</h2>
                                <h3 class="feature transmition">Transmition</h3>
                                <p class="value ValueTransmition">Automatic</p>
                                <h3 class="feature passenger">Passenger</h3>
                                <p class="value ValuePassenger">2 Person</p>
                                <h3 class="feature speed">Top Speed</h3>
                                <p class="value ValueSpeed">412Km</p>
                                <h3 class="feature hp">HP</h3>
                                <p class="value ValueHp">560</p>
                                <h3 class="feature acceleration">0-1000Km/h</h3>
                                <p class="value ValueAcceleration">4.5s</p>
                            </div>
                        </div>
                    </div>
                    <!-- /.card__slider-item -->
                    <div class="card__slider-item">
                        <div class="card__box indent_btm">
                            <div class="card__header bg-gray">
                                <h3 class="rate">4.0</h3>
                            </div>
                            <div class="card__price">
                                <h2 class="price">$490.299</h2>
                            </div>
                            <div class="card__footer bg-lightgray">
                                <h2 class="carModel">GTX-1122 BOOST </h2>
                                <h3 class="feature transmition">Transmition</h3>
                                <p class="value ValueTransmition">Automatic</p>
                                <h3 class="feature passenger">Passenger</h3>
                                <p class="value ValuePassenger">2 Person</p>
                                <h3 class="feature speed">Top Speed</h3>
                                <p class="value ValueSpeed">412Km</p>
                                <h3 class="feature hp">HP</h3>
                                <p class="value ValueHp">560</p>
                                <h3 class="feature acceleration">0-1000Km/h</h3>
                                <p class="value ValueAcceleration">4.5s</p>
                            </div>
                        </div>

                        <div class="card__box indent_btm">
                            <div class="card__header bg-gray">
                                <h3 class="rate">4.0</h3>
                            </div>
                            <div class="card__price">
                                <h2 class="price">$460.999</h2>
                            </div>
                            <div class="card__footer bg-lightgray">
                                <h2 class="carModel">GREAT MUSCLE</h2>
                                <h3 class="feature transmition">Transmition</h3>
                                <p class="value ValueTransmition">Automatic</p>
                                <h3 class="feature passenger">Passenger</h3>
                                <p class="value ValuePassenger">2 Person</p>
                                <h3 class="feature speed">Top Speed</h3>
                                <p class="value ValueSpeed">412Km</p>
                                <h3 class="feature hp">HP</h3>
                                <p class="value ValueHp">560</p>
                                <h3 class="feature acceleration">0-1000Km/h</h3>
                                <p class="value ValueAcceleration">4.5s</p>
                            </div>
                        </div>

                        <div class="card__box">
                            <div class="card__header bg-gray">
                                <h3 class="rate">4.0</h3>
                            </div>
                            <div class="card__price">
                                <h2 class="price">$460.299</h2>
                            </div>
                            <div class="card__footer bg-lightgray">
                                <h2 class="carModel">SPORT GT-X</h2>
                                <h3 class="feature transmition">Transmition</h3>
                                <p class="value ValueTransmition">Automatic</p>
                                <h3 class="feature passenger">Passenger</h3>
                                <p class="value ValuePassenger">2 Person</p>
                                <h3 class="feature speed">Top Speed</h3>
                                <p class="value ValueSpeed">412Km</p>
                                <h3 class="feature hp">HP</h3>
                                <p class="value ValueHp">560</p>
                                <h3 class="feature acceleration">0-1000Km/h</h3>
                                <p class="value ValueAcceleration">4.5s</p>
                            </div>
                        </div>
                    </div>
                    <!-- /.card__slider-item -->
                    <div class="card__slider-item">

                        <div class="card__box indent_btm">
                            <div class="card__header bg-gray">
                                <h3 class="rate">4.0</h3>
                            </div>
                            <div class="card__price">
                                <h2 class="price">$490.299</h2>
                            </div>
                            <div class="card__footer bg-lightgray">
                                <h2 class="carModel">GTX-1122 BOOST </h2>
                                <h3 class="feature transmition">Transmition</h3>
                                <p class="value ValueTransmition">Automatic</p>
                                <h3 class="feature passenger">Passenger</h3>
                                <p class="value ValuePassenger">2 Person</p>
                                <h3 class="feature speed">Top Speed</h3>
                                <p class="value ValueSpeed">412Km</p>
                                <h3 class="feature hp">HP</h3>
                                <p class="value ValueHp">560</p>
                                <h3 class="feature acceleration">0-1000Km/h</h3>
                                <p class="value ValueAcceleration">4.5s</p>
                            </div>
                        </div>

                        <div class="card__box indent_btm">
                            <div class="card__header bg-gray">
                                <h3 class="rate">4.0</h3>
                            </div>
                            <div class="card__price">
                                <h2 class="price">$460.999</h2>
                            </div>
                            <div class="card__footer bg-lightgray">
                                <h2 class="carModel">GREAT MUSCLE</h2>
                                <h3 class="feature transmition">Transmition</h3>
                                <p class="value ValueTransmition">Automatic</p>
                                <h3 class="feature passenger">Passenger</h3>
                                <p class="value ValuePassenger">2 Person</p>
                                <h3 class="feature speed">Top Speed</h3>
                                <p class="value ValueSpeed">412Km</p>
                                <h3 class="feature hp">HP</h3>
                                <p class="value ValueHp">560</p>
                                <h3 class="feature acceleration">0-1000Km/h</h3>
                                <p class="value ValueAcceleration">4.5s</p>
                            </div>
                        </div>

                        <div class="card__box">
                            <div class="card__header bg-gray">
                                <h3 class="rate">4.0</h3>
                            </div>
                            <div class="card__price">
                                <h2 class="price">$460.299</h2>
                            </div>
                            <div class="card__footer bg-lightgray">
                                <h2 class="carModel">SPORT GT-X</h2>
                                <h3 class="feature transmition">Transmition</h3>
                                <p class="value ValueTransmition">Automatic</p>
                                <h3 class="feature passenger">Passenger</h3>
                                <p class="value ValuePassenger">2 Person</p>
                                <h3 class="feature speed">Top Speed</h3>
                                <p class="value ValueSpeed">412Km</p>
                                <h3 class="feature hp">HP</h3>
                                <p class="value ValueHp">560</p>
                                <h3 class="feature acceleration">0-1000Km/h</h3>
                                <p class="value ValueAcceleration">4.5s</p>
                            </div>
                        </div>
                    </div>
                    <!-- /.card__slider-item -->
                    <div class="card__slider-item">
                        <div class="card__box indent_btm">
                            <div class="card__header bg-gray">
                                <h3 class="rate">4.0</h3>
                            </div>
                            <div class="card__price">
                                <h2 class="price">$490.299</h2>
                            </div>
                            <div class="card__footer bg-lightgray">
                                <h2 class="carModel">GTX-1122 BOOST </h2>
                                <h3 class="feature transmition">Transmition</h3>
                                <p class="value ValueTransmition">Automatic</p>
                                <h3 class="feature passenger">Passenger</h3>
                                <p class="value ValuePassenger">2 Person</p>
                                <h3 class="feature speed">Top Speed</h3>
                                <p class="value ValueSpeed">412Km</p>
                                <h3 class="feature hp">HP</h3>
                                <p class="value ValueHp">560</p>
                                <h3 class="feature acceleration">0-1000Km/h</h3>
                                <p class="value ValueAcceleration">4.5s</p>
                            </div>
                        </div>

                        <div class="card__box indent_btm">
                            <div class="card__header bg-gray">
                                <h3 class="rate">4.0</h3>
                            </div>
                            <div class="card__price">
                                <h2 class="price">$460.999</h2>
                            </div>
                            <div class="card__footer bg-lightgray">
                                <h2 class="carModel">GREAT MUSCLE</h2>
                                <h3 class="feature transmition">Transmition</h3>
                                <p class="value ValueTransmition">Automatic</p>
                                <h3 class="feature passenger">Passenger</h3>
                                <p class="value ValuePassenger">2 Person</p>
                                <h3 class="feature speed">Top Speed</h3>
                                <p class="value ValueSpeed">412Km</p>
                                <h3 class="feature hp">HP</h3>
                                <p class="value ValueHp">560</p>
                                <h3 class="feature acceleration">0-1000Km/h</h3>
                                <p class="value ValueAcceleration">4.5s</p>
                            </div>
                        </div>

                        <div class="card__box">
                            <div class="card__header bg-gray">
                                <h3 class="rate">4.0</h3>
                            </div>
                            <div class="card__price">
                                <h2 class="price">$460.299</h2>
                            </div>
                            <div class="card__footer bg-lightgray">
                                <h2 class="carModel">SPORT GT-X</h2>
                                <h3 class="feature transmition">Transmition</h3>
                                <p class="value ValueTransmition">Automatic</p>
                                <h3 class="feature passenger">Passenger</h3>
                                <p class="value ValuePassenger">2 Person</p>
                                <h3 class="feature speed">Top Speed</h3>
                                <p class="value ValueSpeed">412Km</p>
                                <h3 class="feature hp">HP</h3>
                                <p class="value ValueHp">560</p>
                                <h3 class="feature acceleration">0-1000Km/h</h3>
                                <p class="value ValueAcceleration">4.5s</p>
                            </div>
                        </div>
                    </div>
                    <!-- /.card__slider-item -->
                    <div class="card__slider-item">

                        <div class="card__box indent_btm">
                            <div class="card__header bg-gray">
                                <h3 class="rate">4.0</h3>
                            </div>
                            <div class="card__price">
                                <h2 class="price">$490.299</h2>
                            </div>
                            <div class="card__footer bg-lightgray">
                                <h2 class="carModel">GTX-1122 BOOST </h2>
                                <h3 class="feature transmition">Transmition</h3>
                                <p class="value ValueTransmition">Automatic</p>
                                <h3 class="feature passenger">Passenger</h3>
                                <p class="value ValuePassenger">2 Person</p>
                                <h3 class="feature speed">Top Speed</h3>
                                <p class="value ValueSpeed">412Km</p>
                                <h3 class="feature hp">HP</h3>
                                <p class="value ValueHp">560</p>
                                <h3 class="feature acceleration">0-1000Km/h</h3>
                                <p class="value ValueAcceleration">4.5s</p>
                            </div>
                        </div>

                        <div class="card__box indent_btm">
                            <div class="card__header bg-gray">
                                <h3 class="rate">4.0</h3>
                            </div>
                            <div class="card__price">
                                <h2 class="price">$460.999</h2>
                            </div>
                            <div class="card__footer bg-lightgray">
                                <h2 class="carModel">GREAT MUSCLE</h2>
                                <h3 class="feature transmition">Transmition</h3>
                                <p class="value ValueTransmition">Automatic</p>
                                <h3 class="feature passenger">Passenger</h3>
                                <p class="value ValuePassenger">2 Person</p>
                                <h3 class="feature speed">Top Speed</h3>
                                <p class="value ValueSpeed">412Km</p>
                                <h3 class="feature hp">HP</h3>
                                <p class="value ValueHp">560</p>
                                <h3 class="feature acceleration">0-1000Km/h</h3>
                                <p class="value ValueAcceleration">4.5s</p>
                            </div>
                        </div>

                        <div class="card__box">
                            <div class="card__header bg-gray">
                                <h3 class="rate">4.0</h3>
                            </div>
                            <div class="card__price">
                                <h2 class="price">$460.299</h2>
                            </div>
                            <div class="card__footer bg-lightgray">
                                <h2 class="carModel">SPORT GT-X</h2>
                                <h3 class="feature transmition">Transmition</h3>
                                <p class="value ValueTransmition">Automatic</p>
                                <h3 class="feature passenger">Passenger</h3>
                                <p class="value ValuePassenger">2 Person</p>
                                <h3 class="feature speed">Top Speed</h3>
                                <p class="value ValueSpeed">412Km</p>
                                <h3 class="feature hp">HP</h3>
                                <p class="value ValueHp">560</p>
                                <h3 class="feature acceleration">0-1000Km/h</h3>
                                <p class="value ValueAcceleration">4.5s</p>
                            </div>
                        </div>
                    </div>
                    <!-- /.card__slider-item -->
                </div>
            </div>

            <div class="products__pagination">
                <div class="pagination__container">
                    <div class="pagination__inner">
                        <div class="pagination__items">
                            <button class="pagntn__btn pagntn__btn--next pagntn__btn--prev">1</button>
                        </div>
                        <div class="pagination__items">
                            <button class="pagntn__btn pagntn__btn--next pagntn__btn--prev">2</button>
                        </div>
                        <div class="pagination__items">
                            <button class="pagntn__btn pagntn__btn--next pagntn__btn--prev">3</button>
                        </div>
                        <div class="pagntn__btn pagntn__arrw">
                        </div>
                    </div>
                </div>
            </div>

        </section>
        <!-- /.PRODUCTS -->
        <section class="response-wrapper">
            <div class="response-block">
                <div class="response-block__inner">
                    <div class="response-block__text">
                        <h2 class="response-block__title">Have a question?</h2>
                        <p class="response-block__subtitle">Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                            sed do eiusmod tempor incididunt ut
                            labore et dolore magna aliqua.</p>
                    </div>
                    <div class="response-block__contacts">
                        <a href="../templates/fifth.html" class="btn response--btn animate">Contacs Us</a>
                        <div class="response-block__phone">
                            <img src="../img/phoneicon.svg" alt="">
                            <a href="tel:224000221133">224 000 22 11 33</a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- /.RESPONSE -->
    </main>
    <!-- /.MAIN -->
    <footer class="footer bg-dark" id="footer">
        <div class="container">
            <div class="footer__inner">
                <div class="footer__column footer__column_1">

                    <div class="footer__text">
                        <a href="#" data-scroll="#header">
                            <h1 class="logo"><span style="color: #FFD600">KAR</span>BOX</h1>
                        </a>
                        <p class="footer__subtitle">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                            eiusmod
                            tempor incididunt ut labore et dolore magna aliqua.</p>
                    </div>

                    <div class="social">
                        <h2 class="social__text">Follow Us</h2>
                        <div class="social__wrapper">
                            <div class="social__img">
                                <a class="social__link" href="https://www.youtube.com/" target="_blank"><img
                                        class="social__img_icon" src="../img/social-1.svg" alt="icon"></a>
                            </div>
                            <div class="social__img">
                                <a href="https://ru.linkedin.com/" target="_blank"><img class="social__img_icon"
                                        src="../img/social-2.svg" alt="icon"></a>
                            </div>
                            <div class="social__img">
                                <a class="social__link" href="https://twitter.com/?lang=en" target="_blank"><img
                                        class="social__img_icon" src="../img/social-3.svg" alt="icon"></a>
                            </div>
                            <div class="social__img">
                                <a class="social__link" href="https://ru-ru.facebook.com/" target="_blank"><img
                                        class="social__img_icon" src="../img/social-4.svg" alt="icon"></a>
                            </div>
                            <div class="social__img">
                                <a class="social__link" href="https://www.instagram.com/" target="_blank"><img
                                        class="social__img_icon" src="../img/social-5.svg" alt="icon"></a>
                            </div>
                        </div>
                    </div>

                </div>

                <div class="footer__column footer__column_2">
                    <ul class="menu__list">
                        <li class="menu__item_title"><a href="" class="menu__link">Quick Links</a></li>
                        <li class="menu__item"><a href="" class="menu__link" data-scroll="#header">Home</a></li>
                        <li class="menu__item"><a href="" class="menu__link" data-scroll="#about">About</a></li>
                        <li class="menu__item"><a href="" class="menu__link" data-scroll="#services">Services</a></li>
                        <li class="menu__item"><a href="" class="menu__link" data-scroll="#products">Collections</a>
                        </li>
                        <li class="menu__item"><a href="" class="menu__link" data-scroll="#testimonials">Blog</a></li>
                    </ul>
                </div>

                <div class="footer__column footer__column_3">
                    <ul class="menu__list">
                        <li class="menu__item_title"><a href="" class="menu__link">Support</a></li>
                        <li class="menu__item"><a href="" class="menu__link">Affiliates</a></li>
                        <li class="menu__item"><a href="" class="menu__link">Sitemap</a></li>
                        <li class="menu__item"><a href="" class="menu__link">Cancelation Policy</a></li>
                        <li class="menu__item"><a href="" class="menu__link">Privacy Policy</a></li>
                        <li class="menu__item"><a href="" class="menu__link">Legal Disclaimer</a></li>
                    </ul>
                </div>
                <div class="footer__column footer__column_4">
                    <div class="footer-input">
                        <div class="footer-input__text">
                            <h2 class="footer-input__title">Subscribe</h2>
                            <p class="footer-input__subtitle">Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                                sed do
                                eiusmod tempor incididunt ut</p>
                        </div>
                        <div class="footer-input__buttons">
                            <input class="" name="email" style="text-transform: lowercase"
                                placeholder="Enter your email here" type="email"
                                pattern="[a-zA-Z0-9.!#$%&amp;’*+/=?^_`{|}~-]+@[a-zA-Z0-9-]+(?:\.[a-zA-Z0-9-]+)+"
                                required>
                            <button class="btn btn--input animate">Send</button>
                        </div>
                    </div>
                </div>
                <select class="footer__column_media">
                    <option>Support</option>
                    <option>Affiliates</option>
                    <option>Sitemap</option>
                    <option>Cancelation Policy</option>
                    <option>Privacy Policy</option>
                    <option>Legal Disclaimer</option>
                </select>
            </div>
        </div>

        <div class="copyrite">
            <h2 class="copyrite__text">KARDILER - © 2020 All Rights Reserved</h2>
        </div>

    </footer>
    <!-- /.FOOTER -->



    <!-- SCRIPTS -->
    <script src="../js/main.min.js"></script>
</body>

</html>